@font-face {
    font-family: Futhark;
    src: url("../fonts/RUNE.TTF")
}





header,
footer, 
nav {
    background-image: url("../images/texture.png");
}

body {
    margin: 0;
    padding: 0;
    background-image: url("../images/textureBG.png");
}

header {
    color:#ddd;
    width: 100%;
    text-align: center;
}

footer {
    height: 50px;
    text-align: center;
    color: #ccc;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

h2 {
    font-size: 42pt;
    font-weight: bold;
    margin: 0;
    padding: 20px;
}

a {
    color: #666;
    font-family: Futhark;
    text-decoration: none;
}

nav {
    position: sticky;
    position: -webkit-sticky;
    top: 0;

    border: 2px solid;
    border-color: #999#999#ccc#ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

li {
    height: 50px;
    border-bottom: 3px solid transparent;
    cursor: pointer;
    list-style: none;
}

li:hover {
    border-color: #666;
    transition: all easy 0.3s;
}

li a {
    font-size: 32pt;
    text-decoration: none;
}

.god-section {
    width: 50vw;
    height: 100vw;
    margin: 0 auto;
    
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;

    text-align: justify;
    padding-top: 90px;
}

.god-section img{
    height: 20vmax;
    margin-bottom: 5vh;
}

.god-section p{
    font-size: 1.3em;

}

.parallax {
    background-image: url("../images/foto1.jpg");
    height: 100vh;
    background-size: cover;
    background-position-x: center;
    background-position-y: 90px;
    background-attachment: fixed;
}

.final {
    background-image: url("../images/foto3.jpg");
}